@import "abstracts/variables";
@import "base/reset";

// Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;
  z-index: 10;
  animation: popup 1s ease-in-out 5s forwards;

  // modal-closed
  &.closed {
    display: none;
  }

  &-close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background-color: $white;
    border-radius: $border-radius-md;
    overflow: hidden;
    z-index: 2;
    // animation: scaleup 0.5s ease-in-out forwards;

    .newsletter {
      padding: 5rem 3rem;
      text-align: center;

      &-header {
        margin-bottom: 2rem;

        .newsletter-title {
          color: $onyx;
          font-size: $fs-2;
          font-weight: $weight-600;
          margin-bottom: 1rem;
        }

        .newsletter-desc {
          color: $sonic-silver;
          font-size: $fs-7;
          line-height: 1.6;
        }
      }

      form {
        .email-field {
          font-size: $fs-7;
          padding: 8px 16px;
          border-radius: $border-radius-sm;
          border: 1px solid $cultured;
          margin-bottom: 16px;
        }

        .btn-newsletter {
          background-color: $eerie-black;
          color: $white;
          font-size: $fs-7;
          font-weight: $weight-600;
          padding: 10px 15px;
          border-radius: $border-radius-sm;
          text-transform: uppercase;
          margin: auto;
          transition: $transition;

          &:hover {
            background-color: $salmon-pink;
          }
        }
      }
    }
  }

  // close button
  &-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $salmon-pink;
    color: $white;
    padding: 5px;
    border-radius: $border-radius-sm;

    &:hover {
      opacity: 0.9;
    }
  }
}

.newsletter-img {
  display: none;
}

// Notification toast
.notification-toast {
  display: flex;
  align-items: flex-start;
  position: fixed;
  max-width: 300px;
  background-color: $white;
  bottom: 80px;
  left: 20px;
  right: 20px;
  gap: 15px;
  padding: 15px;
  border-radius: $border-radius-md;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
  transform: translateX(calc(-100% - 40px));
  transition: 0.5s ease-in-out;
  z-index: 5;
  animation: slideInOut 10s ease-in-out infinite;

  &.closed {
    display: none;
  }

  .toast-close-btn {
    position: absolute;
    top: 10px;
    right: 0px;
  }

  .toast-banner {
    width: 70px;
    height: 70px;
    border: 1px solid $cultured;
    border-radius: $border-radius-sm;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .toast-details {
    width: calc(100% - 85px);
    padding-right: 2rem;
  }

  .toast-message {
    font-size: $fs-10;
    color: $sonic-silver;
    margin-bottom: 0.8rem;
  }

  .toast-title {
    font-size: $fs-7;
    font-weight: $weight-500;
    color: $onyx;
  }

  .toast-meta {
    font-size: $fs-10;
    color: $sonic-silver;
  }
}

@keyframes slideInOut {
  0%,
  45%,
  100% {
    transform: translateX(calc(-100% - 40px));
    opacity: 0;
    visibility: hidden;
  }

  50%,
  95% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

// Keyframes
@keyframes popup {
  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@keyframes scaleup {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

// Header
header {
  .header-top,
  .header-user-actions,
  .desktop-naviagtion-menu {
    display: none;
  }

  .header-main {
    padding: 2rem 0;
    border-bottom: 2px solid $cultured;
  }

  .header-logo {
    margin-bottom: 20px;

    img {
      margin: auto;
    }

    h3{
        color: black;
    }
  }

  .header-search-container {
    position: relative;

    .search-field {
      font-size: $fs-7;
      padding: 10px 15px;
      padding-right: 50px;
      border-radius: $border-radius-md;
      border: 1px solid $cultured;

      &::-webkit-search-cancel-button {
        display: none;
      }
    }

    .search-btn {
      position: absolute;
      // top: .86rem;
      // right: 1rem;
      // font-size: 18px;
      top: 50%;
      right: 2px;
      transform: translateY(-50%);
      padding: 8px 15px;
      transition: color $transition;

      &:hover {
        color: $salmon-pink;
      }
    }
  }

  // Mobile bottom naviagtion
  .mobile-bottom-nav {
    background-color: $white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    z-index: 8;
    // display: none;

    .action-btn {
      position: relative;
      font-size: 20px;
      color: $eerie-black;
      padding: 10px;

      .count {
        background-color: $bittersweet;
        position: absolute;
        top: 0;
        // right: ;
        font-size: 12px;
        font-weight: $weight-500;
        padding: 2px 4px;
        border-radius: 20px;
        color: $white;
      }
    }
  }

  // Mobile Navigation Menu
  .mobile-navigation-menu {
    background-color: $white;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 10;
    // display: none;

    &.active {
      left: 0;
      visibility: visible;
    }

    // MENU TOP
    .menu-top {
      padding-bottom: 15px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid $cultured;
      // background-color: red;

      .menu-title {
        color: $salmon-pink;
        font-size: $fs-4;
        font-weight: $weight-600;
      }

      .menu-close-btn {
        color: $eerie-black;
        font-size: 20px;
      }
    }

    // Mobile Menu Category
    .mobile-menu-category-list {
      margin-bottom: 30px;

      .menu-category {
        border-bottom: 1px solid $cultured;

        .accordion-menu {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & > div {
            font-size: 14px;
          }

          .fa-solid {
            color: $onyx;
          }

          &.active .add-icon,
          .remove-icon {
            display: none;
          } //on active add-icon display:none... on default, remove-icon display:none

          .add-icon,
          &.active .remove-icon {
            display: block;
          }
        }

        .menu-title {
          color: $onyx;
          font-size: $fs-6;
          font-weight: $weight-500;
          padding: 12px 0;
        }
      }
    }
    // End of  Mobile Menu Category

    // --------SUBMENU CATEGORY- LIST ALL-----
    // SUBMENU-CATEGORY-LIST
    .sub-menu-category-list {
      margin-left: 10px;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: 0.5s ease-in-out;

      &.active {
        max-height: 148px;
        visibility: visible;
      }

      .submenu-category {
        .submenu-title {
          padding: 6px 0;
          font-size: $fs-6;
          font-weight: $weight-300;
          color: $sonic-silver;

          &:hover {
            color: $davys-gray;
          }
        }
      }
    }

    // -----END OF SUBMENU CATEGORY LIST ALL----


    // --------MENU BOTTOM------------
    .menu-bottom {
      .sub-menu-category-list {
        border: 1px solid $cultured;
        border-radius: $border-radius-md;
        padding: 0 15px;
        margin-left: 0;
        box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);

        .submenu-category:not(:last-child) {
          border-bottom: 1px solid $cultured;
        }
      }

      .menu-category-list {
        margin-bottom: 20px;

        .menu-category {
          border-bottom: none;

          // accordion-menu
          .accordion-menu {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;

            &.active .fa-caret-left {
              transform: rotate(-0.25turn); //take note, how to rotate an icon
            }
          }

          .menu-title {
            font-size: $fs-6;
            font-weight: $weight-500;
            color: $eerie-black;
            padding: 12px 0;
          }
        }
      }

      .menu-social-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .social-link {
          background-color: $cultured;
          color: $eerie-black;
          font-size: 20px;
          padding: 10px;
          border-radius: $border-radius-md;
        }
      }
    }
    // END OF MENU BOTTOM
  }
}
// ---------END OF HEADER-----------




// -------------MAIN SECTION---------

.banner {
  margin: 30px 0;

  .slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden; //something new
    scroll-snap-type: inline mandatory; //observe this| inportant as well, it goes with scroll-snap-align
    overscroll-behavior-inline: contain; //observe this
    border-radius: $border-radius-md;

    .slider-item {
      position: relative;
      max-height: 450px;
      min-width: 100%;
      aspect-ratio: 1 / 1; // this made it fit the screen, look it up
      overflow: hidden; //before this it overflowed
      border-radius: $border-radius-md;
      scroll-snap-align: start; //important for the snap feature

      .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }

      .banner-content {
        position: absolute;
        //   top: 0;
        bottom: 25px;
        left: 25px;
        right: 25px;
        background-color: hsla(0, 0%, 100%, 0.8);
        padding: 20px 25px;
        border-radius: $border-radius-md;

        .banner-subtitle {
          color: $salmon-pink;
          font-size: $fs-7;
          font-weight: $weight-500;
          text-transform: capitalize;
          letter-spacing: 2px;
          margin-bottom: 10px;
        }

        .banner-title {
          font-size: $fs-1;
          color: $eerie-black;
          text-transform: uppercase;
          line-height: 1;
          margin-bottom: 10px;
        }

        .banner-text {
          display: none;
        }

        .banner-btn {
          color: $white;
          background-color: $salmon-pink;
          width: max-content; //use this instead of display: inline-block;
          text-transform: uppercase;
          padding: 5px;
          border-radius: $border-radius-sm;
          font-size: $fs-11;
          font-weight: $weight-600;
          transition: $transition;
        }
      }
    }
  }
}

// -------------END OF MAIN SECTION-------




// ------------CATEGORY---------

.category{
    margin-bottom: 30px;

    &-item-container{
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: auto hidden;
        scroll-snap-type: inline mandatory; 
        overscroll-behavior-inline: contain;
    }

    &-item{
        min-width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px;
        border: 1px solid $cultured;
        border-radius: $border-radius-md;
        scroll-snap-align: start;
    }

    &-img-box{
        background-color: $cultured;
        padding: 10px;
        border-radius: $border-radius-sm;
        border: 1px solid $white;
    }


    &-content-box{
        width: 100%;
    }

    &-content-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &-item-title{
        font-size: $fs-9;
        color: $eerie-black;
        font-weight: $weight-600;
        text-transform: uppercase;
    }

    &-item-amount{
        color: $sonic-silver;
        font-size: $fs-11;

    }

    &-btn{
        font-size: $fs-9; 
        color: $salmon-pink;
        text-transform: capitalize;
        font-weight: $weight-500;
    }
}
// --------END OF CATEGORY----




.product-container{


    // ----------SIDEBAR----------
    .sidebar{
        background-color: $white;
        position: fixed;
        top: 0;
        right: 0;
        left: -100%; //for animation purpose when active
        bottom: 0;
        width: 100%;
        max-width: 320px;
        padding: 30px;
        overflow-y: scroll;
        overscroll-behavior: contain;
        visibility: hidden;
        transition: 0.5s ease;
        z-index: 20;
    
    
        &.active{
            left: 0;
            visibility: visible;
        }
    
        &-category{
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $cultured;
        }
    
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    
        &-title{
            font-size: $fs-5;
            color: $onyx;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            font-weight: $weight-600;
        }
    
        &-close-btn .fa-xmark{font-size: 1.2rem;}
    
        &-accordion-menu{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 7px 0;
    
            .menu-title-flex{
                display: flex;
                align-items: center;
                gap: 10px;
    
                .menu-tile{
                    font-size: $fs-5;
                    text-transform: capitalize;
                    color: $sonic-silver;
                    font-weight: $weight-500;
                }
            }
    
            .add-icon, .remove-icon{
                color: $sonic-silver;
                font-size: 14px;
    
            }
    
            &.active .add-icon, .remove-icon{display: none;}
    
            &.active .remove-icon{display: block;}
            
            // .remove-icon, &.active .add-icon{display: block;}
        }
    
        &-submenu-category-list{
            border-top: 1px solid $cultured;
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            transition: 0.5s ease-in-out;
    
            &.active{
                padding: 13px;
                max-height: 140px;
                visibility: visible;
                // transition: 0.5s ease-in-out;
            }
    
            .sidebar-submenu-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $sonic-silver;
                font-size: $fs-7;
                padding: 5px 0;
    
                &:hover{
                    color: $eerie-black;
                }
    
                .product-name{text-transform: capitalize;}
            }
        }
    
    
        .product-showcase{
    
            .showcase-heading{
                font-size: $fs-5;
                font-weight: $weight-600;
                color: $onyx;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                margin-bottom: 15px;
            }
            
            .showcase{
                display: flex;
                align-items: center;
                gap: 15px;
    
    
                &:not(:last-child){
                    margin-bottom: 15px;
        
                    
                }
    
                &-img-box{border-radius: $border-radius-sm;}
    
                &-content{width: calc(100% - 90px);}
                // &-content{width: 30px;}
                
                &-title{
                    color: $onyx;
                    font-size: $fs-7;
                    font-weight: $weight-400;
                    text-transform: capitalize;
                    overflow: hidden;       //W
                    white-space: nowrap;    //T
                    text-overflow: ellipsis; //F
                }
    
                &-rating{
                    display: flex;
                    align-items: center;
                    color: $sandy-brown;
                    font-size: 13px;
                    padding: 4px 0;
                }
    
                .price-box{
                    display: flex;
                    align-items: center;
                    gap: 15px;
    
                    del{
                        color: $sonic-silver;
                        font-size: 13px;
                    }
    
                    .price{
                        font-size: $fs-7;
                        font-weight: $weight-600;
                        color: $davys-gray;
                    }
                }
            }
    
        }
    
    }
    // -----------END OF SIDEBAR-----------


    // ------PRODUCT MINIMAL--------
    .product-minimal{
        margin-bottom: 30px;

        // .product-showcase{
        //     margin-bottom: 10px;


        // }

        .showcase-wrapper{
            display: flex;
            align-items: center;
            overflow-x: auto;
            overscroll-behavior-inline: contain;
            scroll-snap-type: inline mandatory;

            .showcase-container{
                min-width: 100%;
                padding: 0 5px;
                scroll-snap-align: start;


                .showcase{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    justify-content: flex-start;
                    // padding: 10px 0;
                    border: 1px solid $cultured;
                    // margin: 10px 0;
                    padding: 15px;
                    border-radius: $border-radius-md;
                    
                    &:not(:last-child){
                        margin-bottom: 15px;
                    }

                    &-content{
                        width: calc(100% - 85px);

                        .showcase-title{
                            color: $eerie-black;
                            text-transform: capitalize;
                            font-size: $fs-7;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 5px;
                        }

                        .showcase-category{
                            text-transform: capitalize;
                            font-size: $fs-8;
                            color: $davys-gray;
                            margin-bottom: 7px;
                            width: max-content;
                            
                            &:hover{color: $salmon-pink;}

                        }

                        .price-box{
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .price{
                                font-size: $fs-7;
                                font-weight: $weight-700;
                                color: $salmon-pink;
                            }

                            del{
                                font-size: $fs-9;
                                color: $sonic-silver;
                                
                            }
                        }
                    }
                    
                }
            }
        }
    }
    // ------END OF PRODUCT MINIMAL-----


    // ----PRODUCT FEATURED---
    .product-featured{
      margin-bottom: 30px;
      

      .showcase-wrapper{
        display: flex;
        align-items: center;
        gap: 20px;
        overflow-x: auto;
        overscroll-behavior-inline: contain; //prevents the whole page from scrolling
        scroll-snap-type: inline mandatory;
        // background-image: repeating-linear-gradient(to right, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 19px, rgba(0,0,0,0.5) 20px); A book type style


        .showcase-container{
          min-width: 100%;
          padding: 30px;
          // background-color: red;
          border: 1px solid $cultured;
          border-radius: $border-radius-md;
          scroll-snap-align: start; //this is always given to the container inside the wrapper


          .showcase{

            &-img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &-content{
              margin-top: 30px;
            }

            &-rating{
              color: $sandy-brown;
              display: flex;
              align-items: center;
              font-size: 18px;
              margin-bottom: 1.5rem;
            }

            &-title{
              color: $eerie-black;
              font-size: $fs-7;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              text-transform: uppercase;
              margin-bottom: 0.3rem;
            }

            &-desc{
              color: $sonic-silver;
              font-size: $fs-7;
              font-weight: $weight-300;
              margin-bottom: 10px;
            }

            // price box
            .price-box{
              font-size: $fs-3;
              display: flex;
              gap: 1rem;
              margin-bottom: 1rem;

              .price{
                color: $salmon-pink;
                font-weight: $weight-700;
              }

              del{
                color: $sonic-silver;
                font-weight: $weight-300;
              }
            }
            // End of price box

            .add-cart-btn{
              background-color: $salmon-pink;
              color: $white;
              border-radius: $border-radius-md;
              padding: .6rem 1.2rem;
              font-weight: $weight-700;
              font-size: $fs-9;
              text-transform: uppercase;
              margin-bottom: 1.3rem;
              transition: all 0.4s ease-out;
              cursor: pointer;

              &:hover{
                background-color: $eerie-black;
                color: $white;
              }
            }

            // SHOWCASE STATUS
            &-status{
              margin-bottom: 1.4rem;

              .wrapper{
                // background-color: red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $eerie-black;
                font-size: $fs-9;
                font-weight: $weight-400;
                text-transform: uppercase;
                margin-bottom: 10px;
              }

              &-bar{
                position: relative;
                background-color: $cultured;
                height: 10px;
                border-radius: 5px;

                &::before{
                  position: absolute;
                  content: '';
                  background-color: $salmon-pink;
                  top: 3px;
                  left: 3px;
                  height: 4px;
                  width: 40%;
                  border-radius: 4px;
                }
              }
            }
            // END OF SHOWCASE STATUS

            .countdown-box{

              .countdown-desc{
                font-size: $fs-9;
                color: $eerie-black;
                font-weight: $weight-600;
                margin-bottom: 10px;
                text-transform: uppercase;
              }

              .countdown{
                display: flex;
                gap: 5px;
                // align-items: center;

                &-content{
                  padding:5px;
                  background-color: $cultured;
                  border-radius: $border-radius-md;
                  text-align: center;

                  .display-number{
                    color: $eerie-black;
                    font-weight: $weight-500;
                    font-size: $fs-5;
                    // min-width: 40px;
                  }

                  .display-text{
                    color: $davys-gray;
                    font-size: $fs-11;
                  }
                }
              }
            }
          }
        }
      }
    }
    // ---END OF PRODUCT FEATURED---


    // ----PRODUCT GRID----
    .product-main{
      margin-bottom: 30px;

      .product-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap:25px;

        .showcase{
          border: 1px solid $cultured;
          border-radius: $border-radius-md;
          overflow: hidden;
          transition: all 0.5s ease-in;

          &:hover{box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);} // note this

          &-banner{
            position: relative;
  
            .product-img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s ease-in;
            }

            .default{
              position: relative;
              z-index: 1;
            }

            .hover{
              position:absolute;
              // z-index: ;
              top: 0;
              left: 0;
              z-index: 2;
              opacity: 0;
            }

             // Showcase badge
            .showcase-badge{
              position: absolute;
              z-index: 3;
              top: 15px;
              left: 15px;
              background-color: green;
              color: $white;
              font-size: $fs-8;
              padding:0 8px;
              border-radius: $border-radius-sm;

              &.angle{
                top: 8px;
                left: -29px;
                transform: rotate(-45deg);
                padding: 5px 40px;
                text-transform: uppercase;
                font-size:11px;
              }

              &.black{
                background-color: $eerie-black;
              }

              &.pink{background-color: $salmon-pink;}
              
            }

            .showcase-actions{
              display: flex;
              flex-direction: column;
              gap: 5px;
              position: absolute;
              z-index: 3;
              top: 10px;
              right: 10px;
              font-size: 20px;
              transform: translateX(50px); //why??
              transition: 0.4s ease-in-out;

              .btn-action{
                background-color: $white;
                color: $sonic-silver;
                // margin-bottom: 5px;
                border: 1px solid $cultured;
                padding: 5px;
                border-radius: $border-radius-sm;

                &:hover{
                  background-color: $eerie-black;
                  color: $white;
                  border-color: $eerie-black;
                }
              }
            }


          }

          &-content{
            padding: 15px 20px 0;

            &_category{
              color: $salmon-pink;
              font-size: $fs-9;
              font-weight: $weight-500;
              text-transform: uppercase;
              margin-bottom: 10px;
            }

            &_title{
              color: $sonic-silver;
              font-size: $fs-8;
              font-weight: $weight-300;
              text-transform: capitalize;
              letter-spacing: 1px;
              margin-bottom: 10px;
              transition: 0.4s ease;

              &:hover{color:$eerie-black;}
            }

            &_rating{
              color: $sandy-brown;
              margin-bottom: 10px;
            }

            .price-box{
              display: flex;
              gap: 10px;
              font-size: $fs-7;
              color: $eerie-black;
              margin-bottom: 10px;

              .price{font-weight: $weight-700;}

              del{color: $sonic-silver;}
            }
          }

          // Showcase on hover
          &:hover{
            .hover{opacity: 1;}
            .default{opacity: 0;}

            .product-img{transform: scale(1.1);}

            .showcase-actions{transform: translateX(0);}
          }
          
          
        }

        
      }
    }
    // ----END OF PRODUCT GRID----
}



// TESTIMONIAL 
.container{

  .testimonial-box{margin-bottom: 50px;}

  .testimonial{

    &-card{
      border: 1px solid $cultured;
      padding: 30px 20px;
      border-radius: $border-radius-md;
      text-align: center;
      margin-bottom: 25px; 
    }

    &-banner{
      margin:auto;
      margin-bottom: 25px;
      border-radius: 50%;
    }

    &-name{
      font-weight: $weight-700;
      text-transform: uppercase;
      color: $sonic-silver;
      margin-bottom: 5px;
    }

    &-title{
      color:$onyx;
      font-size: $fs-7;
      margin-bottom: 15px;
    }

    .quotation-img{
      margin: auto;
      margin-bottom: 10px;
    }

    &-desc{
      max-width: 70%;
      margin: auto;
      color: $sonic-silver;
      font-size: $fs-7;
    }
  }

  // CTA
  .cta-container{
    position: relative;
    aspect-ratio: 5 / 6;
    border-radius: $border-radius-md;
    overflow: hidden;
    margin-bottom: 25px;

    .cta-banner{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cta-content{
      background: hsla(0, 0%, 100%, 0.7);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      padding: 15px 20px;
      text-align: center;
      border: $border-radius-sm;

      .discount{
        background: $eerie-black;
        color: $white;
        font-size: $fs-11;
        font-weight: $weight-600;
        text-transform: uppercase;
        width: max-content;
        margin: auto;
        padding:0 5px;
        border-radius: $border-radius-sm;
        margin-bottom: 5px;
      }

      .cta-title{
        color: $onyx;
        font-size: $fs-5;
        text-transform: capitalize;
        margin-bottom: 5px;
      }

      .cta-text{
        color:$sonic-silver;
        font-size: $fs-7;
        margin-bottom: 5px;
      }

      .cta-btn{
        font-size: $fs-9;
        margin: auto;
        text-transform: uppercase;
        font-weight: $weight-700;
        color: $sonic-silver;
      }
    }
  }

  
  // SERVICES
  .service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 15px;
    border: 1px solid $cultured;
    border-radius: $border-radius-md;

    .service-item{
      min-width: 190px;
      // background-color: red;
      display: flex;
      align-items: center;
      gap: 20px;

      &:hover{
        .service-icon{color:$eerie-black}
      }

      .service-icon{
        font-size: 25px;
        color: $salmon-pink;
        transition: 200ms ease-in;
        // & .fa-solid{}

        // &:hover{
        //   color: $eerie-black;
        // }
      }


      .service-title{
        color: $sonic-silver;
        font-size: $fs-7;
        font-weight: $weight-600;
        text-transform: capitalize;
        margin-bottom: 5px;
      }

      .service-desc{
        color: $sonic-silver;
        font-size: $fs-9;
      }
    }
  }


  // BLOG
  .blog{
    margin-bottom: 30px;

    &-container{
      display: flex;
      align-items: flex-start;
      gap: 15px;
      overflow-x: auto;
      overscroll-behavior-inline: contain;
      scroll-snap-type: inline mandatory;

      .blog-card{
        min-width: 100%;
        scroll-snap-align: start;

        .blog-banner{
          width: 100%;
          border-radius: $border-radius-md;
          margin-bottom: 20px;
        }

        .blog-category{
          width: max-content;
          color: $salmon-pink;
          font-size: $fs-8;
        }

        .blog-title{
          color: $eerie-black;
          font-size: $fs-5;
          font-weight: $weight-600;
          line-height: 1.4;
          margin-bottom: 5px;
          transition: 250ms ease-in-out;

          &:hover{color:$salmon-pink;}
        }

        .blog-meta{
          color:$sonic-silver;
          font-size: $fs-7;

          cite{
            font-style: normal;
            color: $davys-gray;
          }
        }
      }
    }
  }
}


// ------FOOTER-----

footer{
  background-color: $eerie-black;
  padding: 30px 0;

  .footer-category{
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $onyx;

    &-title{
      color: $salmon-pink;
      font-size: $fs-6;
      font-weight: $weight-600;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      column-gap: 20px;
      margin-bottom: 15px;

      &-title{
        color: $spanish-gray;
        font-size: $fs-8;
        font-weight: $weight-600;
        text-transform: uppercase;
      }

    }

    &-link{
      position: relative;
      color: $sonic-silver;
      font-size: $fs-7;
      text-transform: capitalize;
      transition: 250ms ease-in-out;
      line-height: 1.8;

      &:hover{color: $spanish-gray;}

      &:not(:last-child)::after{
        position: absolute;
        content: '';
        top: 3px;
        right: -10px;
        background: $sonic-silver;
        width: 1px;
        height: 15px;
      }
    }
  }

  .footer-nav{
    padding-bottom: 30px;
    border-bottom: 1px solid $onyx;
    margin-bottom: 30px;

    &-list:not(:last-child){margin-bottom: 20px;}

    .nav-title{
      position: relative;
      color: $white;
      font-size: $fs-7;
      text-transform: uppercase;
      margin-bottom: 15px;
      // background-color: red;
      padding-bottom: 5px;

      &::before{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        // right: 0;
        background: $salmon-pink;
        width: 60px;
        height: 1px;
      }

    }

    &-item{
      padding: 3px 0;
    }

    &-link, .footer-nav-item .content{
      width: max-content;
      color: $sonic-silver;
      font-size: $fs-7;
      text-transform: capitalize;
      transition: 200ms ease-in-out;
    }

    &-link:hover{color: $salmon-pink;}

    .footer-nav-item{
      &.flex{
        display:flex;
        align-items: flex-start;
        gap: 10px;
      }

      font-style: normal;
      margin-bottom: 5px;

      .icon-box{
        color: $sonic-silver;
        font-size: 20px;
      }
    }


  }


}
